# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.ropeproject/

# Virtual environments
venv/
env/
.venv/

# IDE/editor specific
.idea/
*.suo
*.user
*.DS_Store

# Test outputs
*.log
*.out
*.tmp

# Local configuration
*.env